*.bson
.CondaPkg
.DS_Store
.ipynb_checkpoints
.vscode/
/readme.jl
/test.jl
checkpoints
Datasets/
data/
docs/build
logs/
logs_*/
lightning_logs/
Manifest.toml
MNIST/
tsunami_logs/
LocalPreferences.toml
/test.jl
/pytorch-lightning
